/*Configurações Globais*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    display: inline-block;
    max-width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(5, 5, 14);
}

/*Navegação e parte inicial*/
nav{
    padding: 20px 15px;
}
nav > a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 1.1em;
}
#logo{
    font-size: 2.5em;
    font-family: 'Rampart One';
    color: white;
}

.section-filmes > div > img{
    margin: auto;
    border-radius: 6px;
    box-shadow: 6px 8px 10px black;
}
.section-filmes > div > img:hover{
    outline: 4.5px solid white;
    outline-offset: -4.5px;
}
#area-principal{
    margin: 0px;
    padding: 0px;
}
.poster{
    margin: auto;
    max-width: 100%;
    max-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.226);
}
.section-filmes{
    padding: 25px 0px;
}
.section-filmes > div > img:hover{
    transform: scale(1.07);
    transition-duration: 0.7s;
    box-shadow: 6px 8px 10px black;
}
a:hover{
    text-decoration-line: none;
    color: white;
}
/* ============ SECTION FILMES E SERIES ================ */

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0px 0px 0px;
}

/* .secao_filmes{
    margin: 0px 30px;
} */

.section-filmes {
    text-align: center;
    margin: auto;   
}

.section-filmes .carousel-item img {
    width: 22%; 
    margin: auto 10px;
}
h2{
    color: white;
    font-size: 1.8em;
}
footer{
    color: white;
    text-align: center;
    margin-top: 20px;
}

#seta-esquerda {
    width: 45px;
}

#seta-direita {
    width: 45px;
}
#seta-esquerda-principal {
    width: 6%;
}

#seta-direita-principal {
    width: 6%;
}
#seta-esquerda-principal:hover {
    background-image: linear-gradient(to left, transparent, black);
    transition-duration: 0.5s;
}
#seta-direita-principal:hover {
    background-image: linear-gradient(to right, transparent, black);
    transition-duration: 0.5s;
}
