/*Configurações Globais*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
img {
    display: block;
    max-width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(5, 5, 14);
}

/*Navegação e parte inicial*/
nav{
    padding: 20px 15px;
}
nav > a{
    text-decoration: none;
    color: antiquewhite;
    margin: 20px;
}
#logo{
    font-size: xx-large;
}

img{
    margin: auto;
    border-radius: 6px;
    box-shadow: 6px 8px 10px black;
}
.poster{
    margin: auto;
    border-radius: 6px;
    box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.226);
}
img:hover{
    outline: 4.5px solid white;
    outline-offset: -4.5px;
}
.section-filmes{
    padding: 25px 0px;
}
.section-filmes > div > img:hover{
    transform: scale(1.07);
    transition-duration: 0.7s;
    box-shadow: 6px 8px 10px black;
}
.poster{
    margin: auto;
    max-width: 1200px;
    max-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
a:hover{
    text-decoration-line: underline;
    color: white;
}
/* ============ SECTION FILMES E SERIES ================ */
.main {
    padding-top: 40px;
    margin: 0px 10px;
}

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0 20px 0;
}

/* .secao_filmes{
    margin: 0px 30px;
} */

.section-filmes {
    text-align: center;
    margin: auto;   
}

.section-filmes .carousel-item img {
    width: 280px; 
    margin: auto 10px;
}
h2{
    color: white;
}
footer{
    color: white;
    text-align: center;
    margin-top: 20px;
}

#seta-esquerda {
    width: 3%;
}

#seta-direita {
    width: 3%;
} 