/* ========================================= CONFIGURAÇÕES GLOBAIS============================================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
img {
    display: inline-block;
    max-width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 10), rgb(2, 2, 26));
}
h2{
    color: white;
    font-size: 1.8em;
}

/* ================================================================================= */

/* =========================== NAVEGAÇÃO E PARTE INICIAL =========================== */

nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li > a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 1.1em;
    padding-bottom: 5px;
    position: relative;
}
#logo{
    text-decoration: none;
    font-size: 2.5em;
    font-family: 'Montserrat';
    color: #c7c7e2;
    font-weight: bold;
}
#area-principal{
    margin: 0px;
    padding: 0px;
}
.poster{
    margin: auto;
    max-width: 100%;
    max-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.226);
}
a:hover{
    text-decoration-line: none;
    color: white;
}
#logotipo{
    width: 60px;
}
#logotipo-mobile {
    display: none;
}

/* =================== aniamação menu ========================== */
nav li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: white;
  }

  nav li a.center::before {
    transform: scale(0, 1);
    transition: .3s ease;
  }
  
  nav li a:hover::before {  
    transform: scale(1, 1);
  }
/* ================================================================================= */

/* ========================== SECTION FILMES E SÉRIES ============================== */

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0px 0px 0px;
}
#filmes-marvel, #filmes-drama{
    padding: 0px;
}

.section-filmes {
    text-align: center;
    margin: auto;
    padding: 25px 0px;
}
.section-filmes > div > a > img{
    margin: auto;
    border-radius: 6px;
    box-shadow: 6px 8px 10px black;
    width: 21.5%;
    margin: auto 10px;
}
.section-filmes > div > a > img:hover{
    outline: 4.5px solid white;
    outline-offset: -4.5px;
    transform: scale(1.07);
    transition-duration: 0.5s;
    box-shadow: 6px 8px 10px black;
}
#seta-esquerda {
    width: 3%;
}
#seta-direita {
    width: 3%;
}
#seta-esquerda-principal {
    width: 6%;
}

#seta-direita-principal {
    width: 6%;
}
#seta-esquerda-principal:hover {
    background-image: linear-gradient(to left, transparent, black);
    transition-duration: 0.5s;
}
#seta-direita-principal:hover {
    background-image: linear-gradient(to right, transparent, black);
    transition-duration: 0.5s;
}


/* ================================================================================= */

/* =============================== RODAPÉ DA PÁGINA ================================ */

footer{
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 2) 50%);
    font-size: 14px;
}
h3{
    font-family: 'Montserrat';
    margin-bottom: 20px;
    color: #c7c7e2;
    font-weight: bold;
}
h3 > #logotipo{
    width: 45px;
}
footer > a{
    margin: 0px 15px;
    color: #cacaca;
    text-decoration: none;
}
p > a{
    margin: 10px;
    margin-bottom: 0px;
    line-height: 40px;
    color: #cacaca;
}
p{
    margin: 0px;
}
/* ================================================================================= */