.series-filmes{
    display: inline;
    align-items: center;
    margin: auto;
    width: 100%;
}
.series-filmes > a > img{
    margin: auto;
    border-radius: 6px;
    box-shadow: 6px 8px 10px black;
    width: 21.5%;
    margin: 10px;
}
.series-filmes > a > img:hover{
    outline: 4.5px solid white;
    outline-offset: -4.5px;
    transform: scale(1.07);
    transition-duration: 0.5s;
    box-shadow: 6px 8px 10px black;
}