body{ 
    margin: 0px;
    padding: 0px;
}
.series-filmes{
    display: inline-block;
    justify-content: center;
    text-align: center;
}
.series-filmes > a > img{
    margin: auto;
    border-radius: 6px;
    box-shadow: 6px 8px 10px black;
    width: 22.5%;
    margin: 12px 10px;
}
.series-filmes > a > img:hover{
    outline: 4.5px solid white;
    outline-offset: -4.5px;
    transform: scale(1.07);
    transition-duration: 0.5s;
    box-shadow: 6px 8px 10px black;
}